<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058303346843-batdjkk968h52gk117bpbhhcl1oqgejj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058303346843-batdjkk968h52gk117bpbhhcl1oqgejj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1058303346843-704kcsgp3k3mk8ssni019pgnuag86j1n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBds02iXJexssdV3Fm5EbcihjBJ3EjbV5M</string>
	<key>GCM_SENDER_ID</key>
	<string>1058303346843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.attendrix.app</string>
	<key>PROJECT_ID</key>
	<string>attendrix-app</string>
	<key>STORAGE_BUCKET</key>
	<string>attendrix-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058303346843:ios:a0e54e39df1938bd6bde3e</string>
</dict>
</plist>